mixin paperRender(papers)
  script(type="text/javascript")
    function getDates () {
      let dates = []; 
        for (let i of papers) {
            dates.push(i)
        }
        return [...new Set(dates)]
    }
  -const dates = getDates();
     .side-results
       h3 #{papers.length} results
       h3 Refine by
       h4 Years
         each date in dates
           label date 
             .input-group-text
               input(type="checkbox" aria-label="Checkbox")
     .main-results
       each paper in papers
         .paper
           .paper-title #{paper.title}
           .paper-class #{paper.class}
           .paper-summary #{paper.summary}
           .paper-author #{paper.author};

    
